* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.leaflet-container {
  height: 100vh;
}
.map-container {
  z-index: -1;
}

li.starListItem {
  display: inline;
}

.yellowStar {
  fill: yellow;
}

.register-page {
  background-image: url("../public/logo-black-on-white-background.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  padding-right: 150px;
}

.userProfile {
  margin: auto;
  text-align: center;
}
