* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.leaflet-container {
  height: 100vh;
}

li.starListItem {
  display: inline;
}

.yellowStar {
  fill: yellow;
  /* background-color: yellow; */
}

.page {
  height: 90vh;
}

.contact-page {
  height: 50vh;
}
/* .searchBox {
  background-image: url("../public/Rock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.userProfile {
  margin: auto;
  text-align: center;
}
