/*
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #408e3d;
}
*/

.buttonNegative {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid #4caf50;
  border-radius: 5px;
  margin: 5px;
}
.buttonNegative:hover {
  background-color: #4caf50;
  color: white;
  border: none;
}

.buttonNegative:active {
  background-color: #4caf50;
  /* color: white;*/
  /* border: none;*/
}
