.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  padding: 10px;
}

.messageTop {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.messageBar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;

}

.messageImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageSender {
  font-weight: 500;
  margin-right: 10px;
  margin-top: 0px;
  align-items: flex-start;
  display: grid;
 
}

.messageText {
  margin-right: 10px;
  margin-top: 0px;
  align-items: flex-start;
  display: grid;
  text-align: left;
  

}
.imgSender{
  margin-right: 10px;
  margin-top: 16px;
  justify-content: flex-start;
  display: grid;
}

.messageReceiever {
  font-weight: bold;
  margin-right: 10px;
  align-items: flex-end;
  display: grid;
  
}

.messageBottom {
  color: gray;
  font-size: 10px;
  margin-top: 5px;

}

.message.own {
  align-self: flex-end;
}

.message.own .messageBar {
  background-color: #dcf8c6;
  
}

.message.own .messageText {
  text-align: right;
}

