.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message.own {
  align-self: flex-end;
}

.message .messageTop {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message .messageImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message .messageContent {
  background-color: #eae6db;
  border: 1px solid #c9c4b9;
  padding: 10px;
  border-radius: 10px;
}

.message .messageText {
  margin: 0;
  font-size: 14px;
  color: #403d39;
}

.message .messageSender {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.message .messageReceiver {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.message .messageBottom {
  font-size: 10px;
  color: #888;
}
