.about-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.about-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
}

.main-about-title-column {
  display: none;
}

.main-about-title {
  text-align: center;
  text-decoration: none;
}
.sub-about-title {
  text-align: center;
  text-decoration: none;
}

.imageContainer {
  align-items: center;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer h3 {
  margin: 0;
  padding-bottom: 1em;
}

.text-about {
  padding: 0;
  text-align: justify;
}

/* responsive */

/* Avoid the difference of height between the 2 pictures */
@media (max-width: 1714px) {
  .imageContainer {
    padding-bottom: 10%;
  }
}
/* ------------------------------------ */
@media (max-width: 1500px) {
  .imageContainer {
    padding-bottom: 0;
  }
  .main-about-title {
    display: none;
  }
  .main-about-title-column {
    display: block;
    width: 80%;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-sub-container {
    width: 80%;
  }
}
/* ------------------------------------ */
@media (max-width: 768px) {
  .main-about-title-column {
    font-size: 2em;
  }
  .sub-about-title {
    font-size: 1.5em;
  }
}
/* ------------------------------------ */
@media (max-width: 540px) {
  .about-container {
    width: 100%;
  }
  .main-about-title-column {
    font-size: 1.5em;
  }
  .sub-about-title {
    font-size: 1.2em;
  }
  .text-about {
    font-size: 0.9em;
  }
}