.search-box {
  padding-top: 24vh;
  background-image: url("../public/Rock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Add styles for search box container */
}
    
  .search-box-title {
    text-align: center;
  
    /* Add styles for the title */

    /* Set initial position */
    position: relative;
    top: -200px;
    opacity: 0;
    transition: top 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #fae1e1;
  }
  
  .search-box-input {
    /* Add styles for the input */
    
    margin: 8px;
    width: 99%;
    padding: 10px 20px;
    font-size: 18px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .search-button {
    /* Add styles for the search button */
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-left: 100vh;
  }
  
  /* Animation when the component mounts */
  .search-box-title.mounted {
    top: 0;
    opacity: 1;
  }
  
  .search-box-input.mounted {
    opacity: 1;
    transform: translateY(0);
  }
  
  .search-button.mounted {
    opacity: 1;
    transform: scale(1);

  }
  .list {
    display: 'flex'; 
    align-items: 'center';
  }
  .list-item {
    width: 100%;
    
  }
  .search-box-input {
     width: '100%'
  }