.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('../public/Rock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #f1f1f1;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: top 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s ease;
}

.supraSearchBoxContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60vh;
  align-items: center;
}

.search-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-div > div {
  width: 12px;
}

.search-box-title {
  margin-top: 80vh;
  opacity: 0;
  margin-bottom: 30px;
  min-width: 430px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  transition: opacity 1s ease, transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  transform: translateY(50px);
}

.search-box-input {
  border-radius: 10px;
  margin: 6px;
  margin-bottom: 0;
  width: 71%;
  padding: 10px 20px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease, transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 1px solid #ccc;
}

.search-button {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-left: -45px;
}

.search-box-title.mounted {
  top: 0px;
  opacity: 1;
  margin-top: 180px;
  transform: translateY(0);
}

.search-box-input.mounted {
  opacity: 1;
  transform: translateY(0);
}

.search-button.mounted {
  opacity: 1;
  transform: scale(1);
}

/* Animation when the component unmounts */
.search-box-title.unmounted {
  top: -200px;
  opacity: 0;
  transform: translateY(50px);
}

.search-box-input.unmounted {
  opacity: 0;
  transform: translateY(50px);
}

.search-button.unmounted {
  opacity: 0;
  transform: scale(0);
}

.search-box-input:focus {
  outline: none;
}

.list {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.list-item {
  background-color: #fdfdfd;
  width: 100%;
  padding: 10px;
}

@media (max-width: 1024px) {
  .search-box-title {
    font-size: 36px;
  }
  .supraSearchBoxContainer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .search-box-title {
    font-size: 32px;
  }
  .supraSearchBoxContainer {
    width: 90%;
  }
}
@media (max-width: 567px) {
  .search-box-title {
    font-size: 24px;
  }
  .supraSearchBoxContainer {
    width: 100%;
  }
}