.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: transparent;
}

.chatMenu {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.messages {
  height: 70vh;
  overflow-y: scroll;
  padding-right: 10px;
}
/* 
.message {
  margin-bottom: 10px;
  display: flex;
} */

.form {
  display: flex;
  margin-top: 10px;
}

.input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.send {
  background-color: #61dafb; /* Blue sky color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.send:hover {
  background-color: #42b9e9; /* Darker shade on hover */
}

