.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.chatMenu {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.messages {
  height: 70vh;
  overflow-y: scroll;
  padding-right: 10px;
}

.form {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.send {
  background-color: #61dafb; /* Blue sky color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.send:hover {
  background-color: #42b9e9; /* Darker shade on hover */
}

.chat {
  font-size: 1.5rem;
  background-color: #16aeea;
  color: #fff;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  margin-bottom: 24px;
}