.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  padding: 10px;

}

.chatMenu {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.messages {
  height: 70vh;
  overflow-y: scroll;
  padding-right: 10px;
}

.form {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.input {
  flex: 1;
  border: none;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;

}

.send {
  background-color: #FA4353;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.send:hover {
  background-color: #f95866; /* Darker shade on hover */
}

.chat {
  font-size: 1.5rem;
  /* background-color: #16aeea; */
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  margin-bottom: 24px;
}