* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 240, 240);
}
h2 {
  margin-top: 0;
}

.container {
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 1.3em;
  min-width: 350px;
}

.container div {
  margin: 15px 0;
}

.container p {
  text-align: start;
}

.containerImageProfile {
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
}

.containerPersonalInformation {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 0;
}

.containerInstrumentsGallery {
  /* border: 2px solid tomato; */
}

.profileImage {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  min-width: 300px;
  padding: 3px;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.file-label:hover {
  background-color: #45a049;
}
.file-label:active {
  background-color: #408e3d;
}

.informationDatabase {
  padding-left: 15px;
  padding-right: 15px;
}

.interestList {
  padding-left: 15px;
}

.interestList > li {
  list-style-type: square;
  background-color: rgb(235, 240, 240);
  display: inline-block;
  margin: 2px;
  padding: 6px;
  border-radius: 5px;
}

.card {
  /* background-color: rgb(78, 220, 173); */
  /* width: 100%; */
  padding: 22px 30px;
  border-radius: 5px;
  line-height: 1.8;
}

#card {
  display: none;
}

#card:checked ~ .content {
  display: block;
}

#card:checked ~ label {
  display: none;
}

.content {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  /* color: red; */
  /* background-color: rgb(72, 113, 97); */
  border: 1px solid #4caf50;
  padding: 3px 13px;
  border-radius: 5px;
  margin-top: 12px;
}

.buttonNegative {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #4caf50;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.buttonNegative:hover {
  background-color: #4caf50;
  border: 1px solid white;
  color: white;
}

.buttonNegative:active {
  background-color: #4caf50;
  /* color: white;*/
  /* border: none;*/
}

.labelRead {
  font-size: 13px;
  padding: 10px 20px;
  margin: 5px;
  line-height: 13px;
}
