.visitProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 924px) {
  .visitProfileContainer {
    width: 80%;
  }
}
@media (max-width: 559px) {
  .visitProfileContainer {
    width: 90%;
  }
}
.summaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

/* -------------------------------- */
.containerImageProfile {
  text-align: center;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  border: 10px solid lightgrey;
  border-radius: 5px;
}

.profileImage {
  display: block;
  width: 100%;
  height: auto;
  max-height: 400px;
}

/* ------------------------------------ */
.ratingValues {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.ratingValues p {
  padding: 0;
}

.personalInformationContainer {
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.personalInformationContainer h3 {
  margin: 22.08px 0;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 10px;
  grid-gap: 10px;
}

.galleryItem {
  grid-column: span 1;
  grid-row: span 1;
}

.galleryItem:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}

.galleryItem:nth-child(2n) {
  grid-column: span 2;
  grid-row: span 1;
}

.galleryItem:nth-child(2) {
  grid-column: span 1;
  grid-row-start: span 1;
}

.galleryItem:nth-child(3n) {
  grid-row: span 2;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  padding: 0;
}

.interestList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.interestList li {
  background-color: rgb(212, 211, 221, 0.3);
}

.display {
  display: flex;
  flex-direction: column;
}

.display p {
  margin: 0;
  padding: 10px 0;
}

.displayLabel {
  border: 1px solid green;
  margin: 0 auto;
}

.reviewsSection {
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.reviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-column-gap: 4px; */
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
}

.singleReview {
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  background-color: rgb(212, 211, 221, 0.3);
  display: flex;
  flex-direction: column;
}

.singleReview * {
  padding: 0;
}

.singleReview > p:first-of-type {
  margin-bottom: 10px;
  padding-left: 34px;
}

.reviewSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewSummary p {
  margin: 0;
  padding: 0;
}

.singleReview > p:last-of-type {
  margin: 0;
}

.reviewTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.reviewRate {
  display: flex;
  justify-self: flex-start;
  margin-right: 26px;
}

.ratingSystem {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.ratingValues p {
  margin: 0 3px;
}

.buttonNegative {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}

.buttonNegative:hover {
  background-color: #333;
  border: 1px solid white;
  color: white;
}

.buttonNegative:active {
  background-color: #333;
}

.displayLabel {
  font-size: 13.3333px;
  margin: 5px auto;
  padding: 10px 20px;
  border: 1px solid #333;
  line-height: 13.3333px;
}

.displayLabel:hover {
  background-color: #333;
  border: 1px solid white;
  color: white;
}

.importPicsButtonContainer {
  display: flex;
}

/* LUDO */
/* photo gallery */

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 12px;
  /* background-color: #000000; */
  margin-top: 10px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350 ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
}
.gallery .pics:hover {
  filter: opacity(0.8);
}
.delete-button-container {
  position: absolute;
  bottom: 10px; /* adjust the desired distance from the bottom */
  right: 10px; /* adjust the desired distance from the right */
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}