.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 600px;
}
.register-form {
  width: 900px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  flex-direction: column;
}

.sub-regsiter-form {
  max-width: 400px;
}
.register-form label {
  display: block;
  margin-bottom: 10px;
}
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="file"],
.register-form textarea,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

/* choose file button */
.image-profile-container {
  text-align: center;
}
.register-form input[type="file"] {
  display: none;
}

/* --------------------------- */
.register-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.register-form button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fa4353;
  color: white;
  cursor: pointer;
}

.register-form button[type="submit"] {
  background-color: #fa4353;
}

.register-form button[type="submit"]:hover {
  background-color: #fa4353;
}

.register-form button[type="button"] {
  background-color: #f44336;
}

.register-form button[type="button"]:hover {
  background-color: #e53935;
}
