.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 900px;
  margin: 80px auto;
}

.update-form {
  width: 900px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.sub-update-form {
  max-width: 400px;
}
.update-form label {
  display: block;
  margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="file"],
.register-form textarea,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

/* choose file button */
.image-profile-container {
  text-align: center;
}

.update-form input[type="file"] {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fa4353;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.file-label:hover {
  background-color: #fa4353;
}

.file-label:active {
  background-color: #f53848;
}

/* --------------------------- */
.update-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.update-form button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fa4353;
  color: white;
  cursor: pointer;
}

.update-form button[type="submit"] {
  background-color: #fa4353;
}

.update-form button[type="submit"]:hover {
  background-color: #f53848;
}

.update-form button[type="button"] {
  background-color: #f44336;
}

.update-form button[type="button"]:hover {
  background-color: #e53935;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .update-form {
    width: 100%;
  }
}
