.page.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  
  .contact-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }
  
  form#contact-form .form-control {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form#contact-form textarea.form-control {
    height: 120px;
    resize: none;
  }
  
  form#contact-form .submit {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .Airbngig-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    

  }
  
  .Airbngig-info .description {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;

  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .contact-form {
      width: 100%;
      margin-right: 20px;
      margin: 60px 30px 30px 0;
      
    }
  
    .Airbngig-info {
      width: 40%;
      margin-top: 50px;
    }
  }
  