.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.contact-presentation {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.contact-para {
  text-align: justify;
  /* because we don't see the footer on the contact page set to 90% */
  width: 90%;
}

.image-container img {
  display: block;
  /* because we don't see the footer on the contact page set to 90% */
  max-width: 90%;
  max-height: 100%;
  object-fit: cover;
}

.contact-form {
  display: flex;
  height: 100%;
  min-width: 400px;
}

.sub-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sub-contact-form > * {
  margin-bottom: 0.8em;
  padding: 5px;
  border: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 95%;
  font-weight: bold;
}

.contact-text,
.contact-email {
  height: 50px;
}

.contact-textarea {
  flex: 1;
}

.sub-contact-form:first-child {
  margin-top: 0;
}

.contact-submit {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  margin-top: auto;
  width: auto;
}

.contact-submit:hover {
  background-color: #333;
  border: 1px solid white;
  color: white;
}
/* ---------------------------------- */

@media (max-width: 1500px) {
  .contact-page {
    padding: 0 10%;
  }
  /* image and paragraph reset to 100%  */
  .contact-para {
    width: 100%;
  }
  .image-container img {
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .contact-page {
    padding: 0;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .form-container {
    width: 100%;
  }

  .contact-form {
    margin: 10px auto;
    height: 50vh;
    min-width: 300px;
  }

  .sub-contact-form > * {
    margin: 0;
  }

  .contact-submit {
    margin-top: 5px;
  }

  .contact-text,
  .contact-email {
    margin: 5px 0;
    width: 80%;
  }

  .contact-textarea {
    flex: 1;
    margin: 5px 0;
    max-height: 300px;
    max-width: 80%;
  }
}
/* ---------------------------------- */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2em;
  }
}
/* ---------------------------------- */
@media (max-width: 540px) {
  .contact-container {
    width: 100%;
  }
  .contact-title {
    font-size: 1.5em;
  }
}
/* ---------------------------------- */
@media (max-width: 470px) {
  .contact-presentation {
    display: none;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    height: 60vh;
  }

  .sub-contact-form {
    max-width: 100%;
  }
  .contact-textarea {
    min-width: 100px;
  }
}
/* ---------------------------------- */
@media (max-width: 360px) {
  .contact-page {
    min-width: 300px;
  }

  .contact-form {
    min-width: 100%;
  }
}
/* ---------------------------------- */

@media (max-width: 320px) {
  .contact-page {
    min-width: 100px;
  }
}
